<section class="order about">
  <div class="container">
    <div>
      <div class="order-text-title double-title">
        <span> Лучшая </span> итальянская пиццерия
      </div>
      <div class="order-text-message">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci autem culpa, debitis eveniet ex explicabo
        id in laboriosam mollitia nam nulla odio omnis possimus, soluta suscipit vel veritatis. Asperiores, cupiditate.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci autem culpa, debitis eveniet ex explicabo
        id in laboriosam mollitia nam nulla odio omnis possimus, soluta suscipit vel veritatis. Asperiores, cupiditate.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci autem culpa, debitis eveniet ex explicabo
        id in laboriosam mollitia nam nulla odio omnis possimus, soluta suscipit vel veritatis. Asperiores, cupiditate.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci autem culpa, debitis eveniet ex explicabo
        id in laboriosam mollitia nam nulla odio omnis possimus, soluta suscipit vel veritatis. Asperiores, cupiditate.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci autem culpa, debitis eveniet ex explicabo
        id in laboriosam mollitia nam nulla odio omnis possimus, soluta suscipit vel veritatis. Asperiores, cupiditate.
      </div>
    </div>
    <div class="about-image">
      <img src="assets/images/pizza_big.png" alt="Pizzzza">
      <img src="assets/images/pizza_big.png" alt="Pizzzza">
    </div>
  </div>
</section>


<app-popup [data]="'about component'"></app-popup>
